$blue: #03A9F4;

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
p, div {
    font-family: 'Roboto', sans-serif;
}

#introduction {
    padding: 0.2em 1em 0.2em 1em;
    width: 300px;
}

.h4, h4 {
    font-size: 16px;
}

#add-password {
    padding: 1em;
    width: 400px;
}

#manage-password {
    padding: 1em;
    width: 400px;

    table {
        tbody {
            tr {
                &:hover {
                    cursor: pointer;
                    background-color: darken(#ffffff, 2);
                }
            }
        }
    }
}

#option {
    padding: 1em;
    width: 300px;
}

.no-margin-bottom {
    margin-bottom: 3px;
}

.table {
    margin-bottom: 0;
}

a.list {
    div {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    color: #333;
    text-decoration: none;
    &:hover {
        color: $blue;
        text-decoration: none;

    }
}
label {
    font-weight: 300;
}

.form-control {
    border-radius: 0;
    box-shadow: none;

    &:focus {
        box-shadow: none;
        border-color: $blue;
    }
}

.btn-default {
    background-color: #fff;

    &:hover {
        background-color: darken(#fff, 5);
    }
}

.btn-primary {
    background-color: $blue;

    &:hover {
        background-color: darken($blue, 5);
    }
}

.btn {
    border-radius: 1px;
    border-color: transparent;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    transition: box-shadow 0.2s, background-color 0.2s;

    &:hover {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
        border-color: transparent;
    }
}

.top-left {
    position: absolute;
    top: 0.45em;
    left: 1em;
}

.menu {
    background-color: $blue;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    color: #fff;
}