<div class="menu">
    <h4 class="text-center">Password manager</h4>
</div>
<div id="introduction">
    <a href="/password" class="list">
        <div>
            <i class="fa fa-list"></i> Manage passwords
        </div>
    </a>
    <a href="/password/add" class="list">
        <div>
            <i class="fa fa-plus"></i> Add password
        </div>
    </a>
    <a href="/option" class="list">
        <div>
            <i class="fa fa-cogs"></i> Options
        </div>
    </a>
</div>
