<div class="menu">
    <back url="/"></back>
    <h4 class="text-center">Add password</h4>
</div>

<div id="add-password">
<form ng-submit="submit()" method="POST">
    <div class="form-group">
        <label for="website">Website :</label>
        <div class="input-group">
            <input ng-model="password.website" class="form-control" id="website" name="website" type="text" placeholder="google.fr"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="getCurrentSite()">Current</button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Email/Username :</label>
        <input ng-model="password.username" class="form-control" id="username" name="username" type="text" placeholder="email@gmail.com"/>
    </div>
    <div class="form-group">
        <label for="password">Password :</label>
        <div class="input-group">
            <input ng-model="password.password" class="form-control" id="password" name="password" type="{{passwordType}}" placeholder="*******"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="getCurrentSite()"><i class="fa fa-eye"></i></button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="passphrase">Passphrase :</label>
        <div class="input-group">
            <input ng-model="password.passphrase" class="form-control" id="passphrase" name="passphrase" type="{{passphraseType}}" placeholder="*******"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="getCurrentSite()"><i class="fa fa-eye"></i></button>
            </span>
        </div>
    </div>
    <div ng-show="password.password.length > 0 && password.passphrase.length > 0">
        <div class="form-group" ng-class="{'no-margin-bottom':hashDisplay}">
            <label for="display-hash">Display hash :</label>
            <input type="checkbox" id="display-hash" ng-model="hashDisplay"/>
        </div>
        <div class="form-group">
            <div class="input-group" ng-show="hashDisplay">
                <input type="text" ng-model="password.hash" id="hash" class="form-control" readonly>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="selectHash()">Select</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center col-xs-12">
            <div class="row">
                <button type="submit" class="btn btn-primary col-xs-offset-4 col-xs-4">
                    <span ng-hide="submitting"><i class="fa fa-plus"></i> Add</span>
                    <span ng-show="submitting">Saving...</span>
                </button>
            </div>
        </div>
    </div>
</form>
</div>