<div class="menu">
    <back url="/"></back>
    <h4 class="text-center">Manage password</h4>
</div>

<div id="manage-password">


    <div class="form-group no-margin-bottom">
        <label><i class="fa fa-search"></i></label>
        <input type="text" placeholder="Search" class="" ng-model="search"/>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Website</th>
            <th>Username / Email</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="password in passwordList | partialFilter:search track by password.id">
            <td ng-click="detail(password.data.id)" ng-bind="password.data.website"></td>
            <td ng-click="detail(password.data.id)" ng-bind="password.data.username"></td>
        </tr>
        </tbody>
    </table>
</div>